B. Onyshchenko, KSE, Optimization, Assignment 2

In [2]:
import math
import pandas as pd

### Ex 1
#### Bisection method

In [21]:
def bisection_method (a0, b0, fx, prec):
    log_data = []
    if a0 > b0 or fx(a0) * fx(b0) >= 0:
        return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])
    i = 0
    ai = a0
    bi = b0
    while bi-ai > prec:
        log_data.append([i, ai, bi])
        ci = (ai + bi) / 2
        if fx(ci) == 0:
            log_data.append([i+1, ci, ci])
            return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])
        elif fx(ci) * fx(ai) > 0:
            ai = ci
        else:
            bi = ci
        i += 1
    return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])

In [14]:
def func_1_1 (x):
    return math.exp(x) - 4*x

bisection_method(-1,1,func_1_1, 1/10**12)[-5:]

    Iteration        ai        bi
36         36  0.357403  0.357403
37         37  0.357403  0.357403
38         38  0.357403  0.357403
39         39  0.357403  0.357403
40         40  0.357403  0.357403

In [15]:
def func_1_2 (x):
    return -0.9*x**2 + 1.7*x + 2.5
bisection_method(2.8,3,func_1_2, 1/10**8)[-5:]

    Iteration        ai        bi
20         20  2.860104  2.860105
21         21  2.860104  2.860104
22         22  2.860104  2.860104
23         23  2.860104  2.860104
24         24  2.860104  2.860104

In [22]:
def func_1_3 (x):
    return 0.7*x**3 - 4*x**2 + 6.2*x - 2
bisection_method(1.5,2.5,func_1_3, 1/10**10)

   Iteration   ai   bi
0          0  1.5  2.5
1          1  2.0  2.0

#### Regula-falsy method

In [26]:
def regula_falsy (a0, b0, fx, prec):
    log_data = []
    if a0 > b0 or fx(a0) * fx(b0) >= 0:
        return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])
    i = 0
    ai = a0
    bi = b0
    while bi-ai > prec:
        log_data.append([i, ai, bi])
        ci = (ai*fx(bi) - bi*fx(ai)) / (fx(bi) - fx(ai))
        if fx(ci) == 0:
            log_data.append([i+1, ci, ci])
            return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])
        elif fx(ci) * fx(ai) > 0:
            ai = ci
        else:
            bi = ci
        i += 1
    return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])

In [27]:
regula_falsy(-1, 1, func_1_1, 1 / 10 ** 12)[-5:]

    Iteration        ai        bi
21         21 -1.000000  0.357403
22         22 -1.000000  0.357403
23         23 -1.000000  0.357403
24         24 -1.000000  0.357403
25         25  0.357403  0.357403

In [10]:
regula_falsy(2.8, 3, func_1_2, 1 / 10 ** 8)[-5:]

    Iteration        ai  bi
6           6  2.860104   3
7           7  2.860104   3
8           8  2.860104   3
9           9  2.860104   3
10         10  2.860104   3

In [12]:
regula_falsy(1.5, 2.5, func_1_3, 1 / 10 ** 10)[-5:]

   Iteration        ai        bi
1          1  1.500000  2.040816
2          2  1.998137  2.040816
3          3  1.998137  2.000012
4          4  1.998137  2.000000
5          5  1.998137  2.000000

Знаходження всіх коренів

In [29]:
regula_falsy(0.1, 1.5, func_1_3, 1 / 10 ** 10)[-5:]

    Iteration        ai        bi
25         25  0.100000  0.435732
26         26  0.100000  0.435732
27         27  0.100000  0.435732
28         28  0.100000  0.435732
29         29  0.435732  0.435732

In [30]:
regula_falsy(1.5, 2.5, func_1_3, 1 / 10 ** 10)[-5:]

   Iteration        ai        bi
1          1  1.500000  2.040816
2          2  1.998137  2.040816
3          3  1.998137  2.000012
4          4  1.998137  2.000000
5          5  1.998137  2.000000

In [31]:
regula_falsy(2.5, 3.8, func_1_3, 1 / 10 ** 10)[-5:]

    Iteration        ai   bi
33         33  3.278553  3.8
34         34  3.278553  3.8
35         35  3.278553  3.8
36         36  3.278553  3.8
37         37  3.278553  3.8

#### Regula-falsy modified method

In [33]:
def regula_falsy_mod (a0, b0, fx, prec):
    log_data = []

    if a0 > b0 or fx(a0) * fx(b0) >= 0:
        return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])
    i = 0
    ai = a0
    bi = b0

    pre, prepre = 0, 0

    while bi-ai > prec:
        log_data.append([i, ai, bi])
        if pre == 1 and prepre == 1:
            ci = (ai*fx(bi)/2 - bi*fx(ai)) / (fx(bi)/2 - fx(ai))
        elif pre == -1 and prepre == -1:
            ci = (ai*fx(bi) - bi*fx(ai)/2) / (fx(bi) - fx(ai)/2)
        else:
            ci = (ai*fx(bi) - bi*fx(ai)) / (fx(bi) - fx(ai))
        if fx(ci) == 0:
            log_data.append([i, ci, ci])
            return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])
        elif fx(ci) * fx(ai) > 0:
            ai = ci
            prepre = pre
            pre = 1
        else:
            bi = cis
            prepre = pre
            pre = -1
        i += 1
    return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])

In [34]:
regula_falsy_mod(-1, 1, func_1_1, 1 / 10 ** 12)[-5:]

   Iteration        ai        bi
4          4  0.334213  0.357677
5          5  0.334213  0.357405
6          6  0.357401  0.357405
7          7  0.357401  0.357403
8          8  0.357401  0.357403

In [35]:
regula_falsy_mod(2.8, 3, func_1_2, 1 / 10 ** 8)[-5:]

   Iteration        ai        bi
1          1  2.857955  3.000000
2          2  2.860029  3.000000
3          3  2.860029  2.860175
4          4  2.860104  2.860175
5          5  2.860104  2.860175

In [36]:
regula_falsy_mod(1.5, 2.5, func_1_3, 1 / 10 ** 10)[-5:]

   Iteration        ai        bi
2          2  1.998137  2.040816
3          3  1.998137  2.000012
4          4  1.998137  2.000000
5          5  2.000000  2.000000
6          5  2.000000  2.000000

### Ex 2
#### Fixed point method

In [37]:
def fixed_point_method (x0, fx, prec, alpha):
    log_data = []
    i = 0
    def f_small (x):
        return x - alpha * fx(x)
    xi = f_small(x0)
    while abs(xi - x0) > prec:
        log_data.append([i,xi])
        x0 = xi
        i += 1
        xi = f_small(xi)
    return pd.DataFrame(log_data, columns=['Iteration', 'xi'])

In [38]:
def func_2_1 (x):
    return x**3 + x - 1

fixed_point_method(1,func_2_1, 1/10**12, 0.5)[-5:]

    Iteration        xi
11         11  0.682328
12         12  0.682328
13         13  0.682328
14         14  0.682328
15         15  0.682328

In [39]:
def func_2_2 (x):
    return math.cos(x % (2 * math.pi)) - x

fixed_point_method(1,func_2_2, 1/10**10, -0.5)[-5:]

    Iteration        xi
7           7  0.739085
8           8  0.739085
9           9  0.739085
10         10  0.739085
11         11  0.739085

In [40]:
def func_2_3 (x):
    return math.exp(x) - 2*x - 3

fixed_point_method(1, func_2_3, 1/10**8, -0.5)[-5:]

    Iteration        xi
6           6 -1.373363
7           7 -1.373373
8           8 -1.373374
9           9 -1.373375
10         10 -1.373375

### Ex 3
#### Golden search method

In [41]:
def golden_search_method (a0, b0, fx, prec):
    if a0 > b0:
        return None
    log_data = []
    i = 0
    ai = a0
    bi = b0
    x1 = ai + (bi - ai)*(1-0.6180339887)
    x2 = ai + (bi - ai)*0.6180339887
    while bi-ai > prec:
        log_data.append([i, ai, bi])
        if fx(x1) < fx(x2):
            bi = x2
            x2 = x1
            x1 = ai + (bi - ai)*(1-0.6180339887)
        else:
            ai = x1
            x1 = x2
            x2 = ai + (bi - ai)*0.6180339887
        i += 1
    return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])

In [42]:
def func_3_1(x):
    term = x - 1.7
    return term**4 + term**2 + 0.5
golden_search_method(0, 4, func_3_1, 10**-5)[-5:]

    Iteration        ai        bi
22         22  1.699966  1.700067
23         23  1.699966  1.700029
24         24  1.699990  1.700029
25         25  1.699990  1.700014
26         26  1.699990  1.700005

In [43]:
def func_3_2(x):
    term = x - 2
    return math.exp(0.5 * term) + term**6 + 0.1 * term**2
golden_search_method(-1, 5, func_3_2, 10**-6)[-5:]

    Iteration        ai        bi
28         28  1.460610  1.460618
29         29  1.460613  1.460618
30         30  1.460615  1.460618
31         31  1.460615  1.460617
32         32  1.460615  1.460617

#### Fibonacci method

In [44]:
def fibonacci_method (a0, b0, fx, prec):
    if a0 > b0:
        return None
    log_data = []
    R = (b0-a0)/prec
    Fi = [1,1]

    while R > Fi[-1]:
        Fi.append(Fi[-1] + Fi[-2])

    ai = a0
    bi = b0
    x1 = a0 + (Fi[-3] / Fi[-1]) * (b0-a0)
    x2 = a0 + (Fi[-2] / Fi[-1]) * (b0-a0)
    i = 0
    while bi-ai > prec:
        log_data.append([i, ai, bi])
        if fx(x1) < fx(x2):
            bi = x2
            x2 = x1
            x1 = ai + (bi - x2)
        else:
            ai = x1
            x1 = x2
            x2 = bi - (x1 - ai)
        i += 1
    return pd.DataFrame(log_data, columns=['Iteration', 'ai', 'bi'])

In [45]:
fibonacci_method(0, 4, func_3_1, 10 ** -5)[-5:]

    Iteration        ai        bi
22         22  1.699966  1.700067
23         23  1.699966  1.700029
24         24  1.699990  1.700029
25         25  1.699990  1.700013
26         26  1.699990  1.700005

In [46]:
fibonacci_method(-1, 5, func_3_2, 10 ** -6)[-5:]

    Iteration        ai        bi
28         28  1.460609  1.460618
29         29  1.460613  1.460618
30         30  1.460615  1.460618
31         31  1.460615  1.460617
32         32  1.460615  1.460617